<div class="container mt-2">
    <h5 class="text-center">Payscale Setting</h5> 
    <table class="table table-hover" *ngIf=viewTable>
        <thead class="table-info">
            <tr>
                <th>SL#</th>
                <th>Name</th>
                <th>Basic</th>
                <th>House Rent</th>
                <th>Medical Allowance</th>
                <th style="padding-right: 0"><span  style="color:blue;cursor:pointer" (click)=loadFormFunc() title="Add New"><fa-icon [icon]="faPlus"></fa-icon> Add</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payscale of payscaleList;let i = index">
                <td>{{i+1}}</td>
                <td>{{payscale.name}}</td>
                <td>{{payscale.basic}}</td>
                <td>{{payscale.houseRent}}</td>
                <td>{{payscale.medicalAllowance}}</td>
                <td><span title="Edit" (click)="editFormFunc(payscale.id)" style="cursor: pointer;color:orange"><fa-icon [icon]="faEdit"></fa-icon></span></td>

            </tr>
        </tbody>
    </table>
    <router-outlet></router-outlet>  
</div>
