<div class="container mt-2">
    <h5 class="text-center">Salary Sheet</h5>
    <table class="table table-hover" *ngIf=viewTable>
        <thead class="table-info">
            <tr>
                <th>SL#</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Basic</th>
                <th>House Rent</th>
                <th>Medical Allowance</th>
                <th>Total Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empList;let i = index ">
                <td>{{i+1}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.grade.name}}</td>
                <td>{{emp.payscale.basic}}</td>
                <td>{{emp.payscale.houseRent}}</td>
                <td>{{emp.payscale.medicalAllowance}}</td>
                <td>{{emp.payscale.basic + emp.payscale.houseRent + emp.payscale.medicalAllowance}}</td>
            </tr>
        </tbody>
    </table>

    <router-outlet></router-outlet>
</div>


